<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a ui-sref="home">Home</a></li>
        <li><a ui-sref="entity">Entities</a></li>
        <li><a ui-sref="cam">Camunda</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-controller="NewController as ent"><a ui-sref="entity" ng-click="ent.open({title: 'title', text: 'lalala', description: 'description'}, 'New Entity')">Create</a></li>
      </ul>
    </div>
  </div>
</nav>
