<!-- <h1>Entities</h1>
  <div>
    <input type="text" ng-model="ent.entit.title">
    <input type="text" ng-model="ent.entit.description">
    <input type="text" ng-model="ent.entit.text">
    <button class="btn btn-success" ng-click="ent.addEntity()">Add</button>
    <table class="table">
      <thead>
        <th>Title</th>
        <th>Description</th>
        <th>Text</th>
        <th colspan="2"></th>
      </thead>
      <tbody  ng-repeat="entity in ent.entits">
        <td>{{entity.title}}</td>
        <td>{{entity.description}}</td>
        <td>{{entity.text}}</td>
        <td><button class="btn btn-danger" ng-click="ent.deleteEntity(entity.title)">Delete</button></td>
        <td><button class="btn btn-primary" ng-click="ent.showEntity(entity.title)">Show</button></td>
      </tbody>
  </div>
 -->
