<div class="modal-header">
    <h3>{{mod.header}}</h3>
</div>
<div flash-message="5000" ></div>
<form ng-submit="mod.ok()">
  <div class="modal-body">
    <label>Title</label><br/>
    <input type="text" ng-model="mod.entity.title" /><br/>
    <label>Description</label><br/>
    <input type="text" ng-model="mod.entity.description" /><br/>
    <label>Text</label><br/>
    <input type="text" ng-model="mod.entity.text" /><br/>
  </div>
  <div class="modal-footer">
      <button  class="btn btn-warning" ng-click="mod.cancel()">Cancel</button>
      <input type="submit" class="btn btn-success" value="Submit" />
  </div>
</form>


